events {}

http {

  upstream go_app {
    server app:8080;
  }

  upstream minio_api {
    server minio:9000;
  }

  server {
    listen 80;

    location /api/ {
      proxy_pass http://go_app/;
      proxy_set_header Host $host;
      proxy_set_header X-Real-IP $remote_addr;
    }

    location /minio/ {
      proxy_pass http://minio_api/;
      proxy_set_header Host $host;
      proxy_set_header X-Real-IP $remote_addr;
    }

    location /minio/dashboard {
      return 302 http://localhost:9001;
    }
  }
}